global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_scrape_interval }}

scrape_configs:
{% for target in prometheus_targets %}
  - job_name: '{{ target.job }}'
    static_configs:
      - targets: {{ target.targets | to_json }}
    metrics_path: '{{ target.metrics_path | default("/metrics") }}'
    {% if target.scrape_interval is defined %}
    scrape_interval: {{ target.scrape_interval }}
    {% endif %}
{% endfor %}
